#img-1 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicle-product:hover > #img-1 {
  background: linear-gradient(#3C4C5C, #f6f6f6, #f6f6f6);
}

#img-2 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicle-product:hover > #img-2 {
  background: linear-gradient(#5E5E5E, #f6f6f6, #f6f6f6);
}

#img-3 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicle-product:hover > #img-3 {
  background: linear-gradient(#14409A, #f6f6f6, #f6f6f6);
}

#img-4 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicle-product:hover > #img-4 {
  background: linear-gradient(#C0BAB5, #f6f6f6, #f6f6f6);
}

#img-5 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicle-product:hover > #img-5 {
  background: linear-gradient(#5C5C5C, #f6f6f6, #f6f6f6);
}

#img-6 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6);
}

.vehicle-product:hover > #img-6 {
  background: linear-gradient(#33569C, #f6f6f6, #f6f6f6);
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

.btn-vehicle {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #2198dc;
  color: #fff;
  font-weight: bold;
  padding: 6px 30px;
  font-size: 1.4rem;
  transition: all .5s;
  margin-right: 5px;
}

.btn-vehicle:hover {
  background-color: #fff;
  color: #007cc3;
}

.btn-vehicle-active {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #fff;
  color: #007cc3;
  font-weight: bold;
  padding: 6px 30px;
  font-size: 1.4rem;
  transition: all .5s;
}

.btn-vehicle-active:hover {
  background-color: #2198dc;
  color: #fff;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  padding: 0;
}

#navbar {
  background-color: #007cc3;
}

#navbar a {
  color: #fff;
  padding: 20px 25px;
  border-right: 1px solid #4f91ca;
  border-left: 1px solid #4f91ca;
  font-size: 1.4rem;
}

#navbar a.active {
  background-color: #fff;
  color: #2198dc;
}

#navbar a:first-child {
  padding: 0 25px;
}

.no-border {
  border: 0 !important;
}

.container--config {
  padding: 0 5%;
}

#vehicles {
  background-color: rgba(0, 67, 108, 0.8);
}

#vehicles #vehicle-content {
  position: relative;
}

#vehicles #vehicle-content .vehicle-nav {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
}

#vehicles #vehicle-content .vehicle-nav ul {
  list-style: none;
  margin: 0;
}

#vehicles #vehicle-content .vehicle-nav ul li {
  display: inline;
}

#vehicles #vehicle-content .vehicle-nav ul li a {
  padding: 6px 25px;
  font-weight: bold;
  color: #00324f;
  border-right: 0.2rem solid #e5e5e5;
  font-size: 1.4rem;
}

#vehicles #vehicle-content .vehicle-nav ul li a:hover {
  color: #2198dc;
  text-decoration: none;
}

#vehicles #vehicle-content .vehicle-nav ul li.active a {
  color: #2198dc;
  text-decoration: underline;
}

#vehicles #vehicle-content #vehicle-list {
  background-color: #f6f6f6;
  padding: 50px;
  max-height: 800px;
}

#vehicles #vehicle-content #vehicle-list .vehicle-title h1 {
  background-color: #f6f6f6;
  position: relative;
  top: -2.7rem;
  padding: 0 6px;
  color: #2198dc;
  font-weight: bold;
  font-size: 2.4rem;
}

#vehicles #vehicle-content #vehicle-list .vehicle-title h1 i {
  font-size: 1.2rem;
  position: relative;
  top: -5px;
}

#vehicles #vehicle-content #vehicle-list .vehicle-title h1 span {
  font-weight: normal;
}

#vehicles #vehicle-content #vehicle-list .vehicle-product {
  color: #00324f;
  transition: all .5s;
  margin-bottom: 30px;
}

#vehicles #vehicle-content #vehicle-list .vehicle-product:hover > .vehicle-img img:last-child {
  display: block;
}

#vehicles #vehicle-content #vehicle-list .vehicle-product:hover > .vehicle-img img:first-child {
  display: none;
}

#vehicles #vehicle-content #vehicle-list .vehicle-product .vehicle-img img {
  width: 100%;
}

#vehicles #vehicle-content #vehicle-list .vehicle-product .vehicle-img img:last-child {
  display: none;
}

#vehicles #vehicle-content #vehicle-list .vehicle-product h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

#vehicles #vehicle-content #vehicle-list .vehicle-product .vehicle-info {
  margin-bottom: 20px;
}

#vehicles #vehicle-content #vehicle-list .vehicle-product .vehicle-info h3 {
  font-weight: normal;
  font-size: 2.4rem;
}

#vehicles #vehicle-content #vehicle-list .vehicle-product .vehicle-info p {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

#vehicles #vehicle-content #vehicle-close {
  background-color: #f6f6f6;
  width: 65px;
  padding: 15px 0;
  text-align: center;
  position: absolute;
  left: 95%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
  color: #007cc3;
}

#vehicles #vehicle-content #vehicle-close:hover > .vehicle-circle {
  border-color: #00446a;
}

#vehicles #vehicle-content #vehicle-close:hover {
  color: #00446a;
}

#vehicles #vehicle-content #vehicle-close .vehicle-circle {
  width: 25px;
  height: 25px;
  border: 1px solid #007cc3;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

#vehicles #vehicle-content #vehicle-close .vehicle-circle i {
  font-size: 1.4rem;
  line-height: 25px;
}

#vehicles #vehicle-content #vehicle-close p {
  font-size: 1.4rem;
  font-weight: bold;
}

.hide-vehicle {
  display: none;
}
/*# sourceMappingURL=main.css.map */