#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar{
    padding: 0;
}
#navbar{
    background-color: $color-blue-100;
    a{
        color: $color-white;
        padding: $pd-3 $pd-4;
        border-right: $border-1;
        border-left: $border-1;
        font-size: $font-size-1;
        &.active{
            background-color: $color-white;
            color: $color-blue-200;
        } 
    }
    a:first-child{
        padding: 0 $pd-4;
    }
}

.no-border{
    border: 0 !important;
}
